<script src="../scripts/jquery-2.2.3.js"></script>
<script src="../scripts/jquery.md5.js"></script>

{# app/Resources/views/admin/login.html.twig #}

<div style="margin-left:auto;margin-right:auto;text-align:center;">
<label for="username">Username:</label>
<input type="text" id="username" name="_username" value="{{ last_username }}" />

<label for="password">Password:</label>
<input type="password" id="password" name="_password" />

<br/><br/>
<button type="submit" onclick="onClickButton()" id="login">login</button>


<button type="submit" onclick="onClickRegister()" id="register">register</button>
</div>
<!-- {% if error %}
    <div>{{ error }}</div>
{% endif %} -->

<script type="text/javascript">
    function onClickButton()
    {
        $("#login").attr("disabled","disabled");
        var pa = $("#password").val() == "" ? $("#password").val():"none";
        var user = {
            _username:$("#username").val(),
            _password:$.md5(pa)
        };

        $.ajax({
            type : 'post',
            url:  "{{ path('login_check') }}",
            data:  user,
            dataType: 'json',
            success: function(data) {
                if(data.success)
                {
                    window.location.reload();
                }
                else
                {
                    alert(data.msg);
                    $("#login").removeAttr("disabled");
                }

            }
        });

    }
    
    function onClickRegister()
    {
        $("#register").attr("disabled","disabled");
        window.location.href="{{ path('register') }}";
    }
</script>